<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678431817042-1jham7mjfnl408p72b8nrg4n7nk4e2dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678431817042-1jham7mjfnl408p72b8nrg4n7nk4e2dl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>678431817042-hho300kghh324ei0g4m2c2c7khci973t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7k9H5WvcbvK6lDuhCeSfkZZGBxz47GsM</string>
	<key>GCM_SENDER_ID</key>
	<string>678431817042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rxprism.rxsling.dev</string>
	<key>PROJECT_ID</key>
	<string>rxsling-4dc4e</string>
	<key>STORAGE_BUCKET</key>
	<string>rxsling-4dc4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678431817042:ios:156c1e68f26948326b8e8b</string>
	<key>DATABASE_URL</key>
	<string>https://rxsling-4dc4e.firebaseio.com</string>
</dict>
</plist>